* {
    box-sizing: border-box;
    font-family: "Raleway";
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    flex-wrap: wrap;

    background-color: #4F3265;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.upper-right {
    position: absolute;
    top: 9px;
    right: 38px;
}

.material-icons {
    font-size: 60px;
    color: white;
}

h1 {
    text-align: center;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 37px;
    color: #FEFCF9;
    font-weight: 600;
    margin-top: 15px;
}

.purple-rectangle {
    box-sizing: border-box;
    position: absolute;
    width: 340px;
    height: 821px;
    left: 71px;
    top: 116px;
    background-color: #FDF8FF;
    border: 0.5px solid #AA8CBC;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

h2 {
    text-align: left;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 15px;
}

.reminder-item {
    margin-bottom: 10px; 
    padding: 10px; 
    background-color: #FFFFFF; 
    border: 1px solid #E0E0E0; 
    border-radius: 5px; 
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.flex-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-end;
    margin-top: 60px;
    margin-left: auto; 
    flex-wrap: wrap;
}

.flex-item {
    width: 200px; 
    padding: 20px;
    background-color: #ffffffff;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 100px;
    flex-wrap: wrap;    
}

.flex-item.calendar {
    width: 300px;
}

.flex-item.message {
    width: 300px; 
}

.flex-item.media {
    width: 300px; 
}

.flex-item a {
    text-decoration: none; 
    color: #333333; 
}

.flex-item a:hover {
    color: #AA8CBC; 
}