* {
    box-sizing: border-box;
    font-family: "Raleway";
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    background-color: #4F3265;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.upper-right {
    position: absolute;
    top: 9px;
    right: 38px;
}

.material-icons {
    font-size: 60px;
    color: white;
}

h1 {
    text-align: center;
    font-family: "Raleway", Helvetica, sans-serif;
    color: #FEFCF9;
    font-weight: 600;
}

.reminders {
    width: 340px;
    background-color: #FDF8FF;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}

.flex-container {
    margin-top: 20px;
    width: 425px;
    background-color: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


