* {
    box-sizing: border-box;
    font-family: "Raleway";
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    background-color: #4F3265;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.material-icons {
    font-size: 60px;
}

.upper-left {
    position: absolute;
    top: 9px;
    left: 38px;
}

h1 {
    text-align: center;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 37px;
    color: #FEFCF9;
    font-weight: 600;
    margin-top: 15px;
}

nav a {
    position: relative;
    bottom: 65px;
    left: 45px;
    color: #FEFCF9;
}

#main-content {
    display:flex;
    justify-content: center;
}

#left-rect {
    position: fixed;
    width: 364px;
    height: 730px;
    top: 120px;
    left: 90px;
    border-radius: 10px;
    background-color: #FDF8FF;
}

#channels {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 223px;
}

h2 {
    font-size: 22px;
    font-weight: 550;
    color: #4F3265;
    margin-bottom: 10px;
    margin-left: 10px;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    color: #4F3265;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}

#right-rect {
    position: fixed;
    background-color: #F5EAF9;
    width: 1035px;
    height: 650px;
    top: 160px;
    left: 454px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#right-rect h2 {
    margin: 15px;
    padding-bottom: 10px;
    font-weight: 500;
    border-bottom: 0.5px solid #AA8CBC;
}

#message-box {
    display: flex;
    flex-direction: row;

    position: fixed;
    bottom: 110px;
    left: 600px;
    width: 749px;
    height: 41px;
    border-radius: 8px;
    background-color: #FDF8FF;
    border-style: solid;
    border-width: 0.5px;
    border-color: #4F3265;
}

#message-box h3 {
    margin: 10px;
    font-weight: 300;
    position: fixed;
    padding-left: 5px;
}

#send-icon {
    font-size: 26px;
    color: #4F3265;
    padding-left: 710px;
    padding-top: 6px;
}

.dropdown {
    display: flex;
    flex-direction: row;
}

#dropdown-arrow {
    font-size: 32px;
    color: #4F3265;
    padding-top: 20px;
}

#channel-section h3:first-of-type {
    background-color: #F5EAF9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-position-x: 200px;
}

#channel-section {
    width: 374px;
}