* {
    box-sizing: border-box;
    font-family: "Raleway";
}

body {
    background-color: #F5F5F5;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #4F3265;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.material-icons {
    font-size: 60px;
}

.upper-left {
    position: absolute;
    top: 9px;
    left: 38px;
}

h1 {
    text-align: center;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 37px;
    color: #FEFCF9;
    font-weight: 600;
    margin-top: 15px;
}

nav a {
    position: relative;
    bottom: 65px;
    left: 45px;
    color: #FEFCF9;
}

#main-content {
    display:flex;
    justify-content: center;
}

.calendly {
    text-align: center;
    background: #AA8CBC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 25%;
    font-weight: medium;
    color: white;
    margin: 20% auto; /* Center horizontally and adjust vertical spacing */
    padding: 20px; /* Add padding for better appearance */
    font-size: smaller;
}

/* Centralize the "Google Calendar API Connected" section */
.rectangle-2 {
    width: 60%; /* Adjust width as needed */
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 14% auto; /* Center horizontally and adjust vertical spacing */
    padding: 20px; /* Add padding for better appearance */
}

/* Media Queries */
@media screen and (max-width: 768px) {
    nav {
        height: 60px;
    }

    .material-icons {
        font-size: 40px;
    }

    h1 {
        font-size: 24px;
        margin-top: 10px;
    }

    nav a {
        bottom: 50px;
    }

    .calendly {
        top: 12%;
        width: 35%;
    }

    .rectangle-2 {
        width: 80%;
        height: 300px;
    }
}
