* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background: #FEFCF9;
    color: #333;
    font-size: 16px;
}

header {
    background: #4F3265;
    color: #FEFCF9;
    padding: 20px 10px;
    text-align: center;
    position: relative;
    border-radius: 0 0 200px 200px;
    height: 80px;
}

.header-container {
    position: relative;
    text-align: center;
    padding: 10px;
}

h1 {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

.home-icon {
    position: fixed;
    top: 10px;
    left: 35px;
    color: #FEFCF9;
    font-size: 24px;
}

.upload-form {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.upload-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-upload-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4F3265;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.upload-btn {
    background: #4F3265;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.create-folder-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}

.create-folder-form input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.create-folder-btn {
    background: #4F3265;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-bar {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.search-bar input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.file-list {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.folder-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-decoration: none;
    color: #333;
}

.folder i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #4F3265;
}

.folder h3 {
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
}

footer {
    text-align: center;
    padding: 20px 10px;
    background: #FFFFFF;
    color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}


































