* {
    box-sizing: border-box;
    font-family: "Raleway";
}

#messaging-body {
    font-family: 'Raleway', sans-serif;
    background-color: #FEFCF9;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#messaging-main {
    background-color: #FEFCF9;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #4F3265;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icon {
    position: fixed;
    top: 10px;
    left: 35px;
    color: #FEFCF9;
    font-size: 24px;
}

.upper-left, .upper-right {
    position: absolute;
    top: 9px;
}

.upper-left {
    left: 38px;
}

.upper-right {
    right: 38px;
}

#messaging-h1 {
    font-size: 37px;
    color: #FEFCF9;
    font-weight: 600;
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 20px 10px;
    background: #FFFFFF;
    color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#header a {
    position: relative;
    bottom: 65px;
    left: 45px;
    color: #FEFCF9;
}

#main-content {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#left-rect {
    position: fixed;
    position: center;
    width: 400px;
    height: 719px;
    top: 120px;
    left: 50px;
    background-color: #FDF8FF;
    border-radius: 10px;
}

#channels-dropdown {
    position: fixed;
    bottom: 640px;
    width: 364px;
    background-color: #FDF8FF;
    text-align: left;
}

#dms-dropdown {
    position: fixed;
    bottom: 540px;
    width: 364px;
    background-color: #FDF8FF;
    text-align: left;
}

#externals-dropdown {
    position: fixed;
    bottom: 440px;
    width: 364px;
    background-color: #FDF8FF;
    text-align: left;
}

#channels {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 90px;
}

#main-link {
    text-decoration: none;
}

#channels h2 {
    font-size: 22px;
    font-weight: 550;
    color: #4F3265;
    padding-top: 23px;
    margin-left: 10px;
    margin-right: 5px;
}

.channel-flex-box {
    display: flex;
    flex-direction: column;
}

.channel-names {
    font-size: 18px;
    font-weight: 400;
    color: #4F3265;
    text-decoration: none;
    margin-top: 8x;
    margin-bottom: 8px;
    margin-left: 15px;
}

#current-channel {
    display: none;
}

.message-box h3 {
    display: none;
}

#channel-section {
    width: 374px;
}

.bg-purple {
    background-color: #F5EAF9;
}

#chat-area {
    display: none;
}

#messageImg {
    display: none;
}

#like-btn {
    display: none;
}

#likeBtn {
    display: none;
}
    
#back-arrow h4 {
    color: #4F3265;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 50px;
}
    
#back-arrow-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color:#4F3265;
}

@media (min-width: 768px) {
    #back-arrow h4 {
        display: none;
    }
        
    #back-arrow-icon {
        display: none;
    }

    #chat-area {
        display: block;
        padding: 20px;
    }
    
    #messageImg {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
    
    #like-btn {
        display: block;
        font-size: 15px;
        padding: none;
    }
    
    #like-btn:hover {
        color: #D22B2B;
    }
    
    #likeBtn {
        display: block;
        background-color: #F5EAF9;
        border: none;
        padding: none;
    }

    #left-rect {
        position: fixed;
        width: 364px;
        height: 730px;
        left: 90px;
    }

    #right-rect {
        position: fixed;
        background-color: #F5EAF9;
        width: 1035px;
        height: 650px;
        top: 160px;
        left: 454px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow-y: auto;
    }

    #current-channel {
        display: flex;
        margin: 15px;
        padding-bottom: 10px;
        font-weight: 500;
        color: #4F3265;
        border-bottom: 0.5px solid #AA8CBC;
        z-index: 10;
    }

    textarea {
        width: 749px;
        height: 41px;
        border-radius: 8px;
        background-color: #FDF8FF;
        border-style: solid;
        border-width: 0.5px;
        border-color: #4F3265;
    }

    #send-message {
        font-size: 40px;
        color: #4F3265;
        padding-bottom: 6px;
    }

    #main-channel {
        background-color: #F5EAF9;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-position-x: 200px;
    }
}

/* following is css code for the profile pop up feature */
#header.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #4F3265;
    color: white; 
    position: relative;
}

.nav-left {
    flex: 1;
}

.nav-right {
    flex: 0; 
    display: flex;
    justify-content: flex-end;
}

.profile-icon {
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    top: 10px;
}

.profile-popup {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.profile-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content h2 {
    margin: 0;
}

.profile-content p {
    margin: 10px 0;
}

.profile-content button {
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.profile-picture-container {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    overflow: hidden;
    margin-bottom: 10px;
}

.profile-picture {
    width: 100%;
    height: auto;
}

.user-details {
    margin: 5px 0;
}

.profile-content {
    color: black;
}































